<%- include('./partials/head') %>
    </head>

    <body class="bg-[#ececec]">
        <%- include('./partials/nav') %>
        <div class=" flex flex-col gap-10 my-20 ">
            <h1 class="text-center text-black text-6xl font-bold">Error 404 for page not found</h1>
            <a href="/" class="mx-auto "><button class="border-0 py-3 px-15 my-20 bg-red-400 shadow-sm text-white font-medium rounded-md hover:translate-y-0.5
                hover:transition-all hover:ease-in hover:duration-200 ">
                    home</button></a>
        </div>
    </body>

    </html>